{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post, replies in posts_replies %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">
          <!-- TODO: Q3 (Hide the username (display "by Anonymous User" instead) if post is anonymous) -->
          <!-- start displaying author -->
          by {{ post['username'] }} 
          <!-- end displaying author -->
          on {{ post['created'].strftime('%m/%d/%Y, %H:%M:%S') }} 
          </div>
        </div>
          <!-- new function: reply-->
          <a class="action" href="{{ url_for('blog.reply', id=post['id'])}}">Reply</a>
          <!-- end new function-->
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    <!-- new function: render replies -->
    {% for reply in replies %}
     <div class="reply">
      <header>
       <div class="about">
       Replied by {{ reply['username'] }} on {{ reply['created'].strftime('%m/%d/%Y, %H:%M:%S') }} 
       </div>
      </header>
      <p class="body">{{ reply['body']}}</p>
      {% if g.user['id'] == reply['author_id'] %}
       <form action="{{ url_for('blog.delete_reply', id=reply['id']) }}" method="post">
         <input type=submit value="Delete" onclick="return confirm('Are you sure?');">
       </form>
      {% endif %}
     </div>
    {% endfor %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
