[submodule "student-projects/spring-2021/Team05_aeolux"]
	path = student-projects/spring-2021/Team05_aeolux
	url = https://github.com/fcr3/aeolux
[submodule "student-projects/spring-2021/Team19_power-forward"]
	path = student-projects/spring-2021/Team19_power-forward
	url = https://github.com/JustinRWong/power-forward
[submodule "student-projects/spring-2021/Team09_RelAIability"]
	path = student-projects/spring-2021/Team09_RelAIability
	url = https://github.com/rachitpareek/data-x-proj-9
[submodule "student-projects/spring-2021/Team10_Data-X-Mental-Health-Dashboard"]
	path = student-projects/spring-2021/Team10_Data-X-Mental-Health-Dashboard
	url = https://github.com/aeswaran/Data-X-Mental-Health-Dashboard
[submodule "student-projects/spring-2021/Team12_COVID-19-Vaccine-Dashboard"]
	path = student-projects/spring-2021/Team12_COVID-19-Vaccine-Dashboard
	url = https://github.com/Marcus-M1999/COVID-19-Vaccine-Dashboard
[submodule "student-projects/spring-2021/Team15_mental_health"]
	path = student-projects/spring-2021/Team15_mental_health
	url = https://github.com/camjhirsh/mental_health
[submodule "student-projects/spring-2021/Team31_CheapFake-Detector"]
	path = student-projects/spring-2021/Team31_CheapFake-Detector
	url = https://github.com/Terrychau541/CheapFake-Detector
[submodule "student-projects/spring-2021/Team34_Superconductive"]
	path = student-projects/spring-2021/Team34_Superconductive
	url = https://github.com/9yiyi9/Superconductive-low-coded-ML
[submodule "student-projects/spring-2021/Team04_DaraXKinesso"]
	path = student-projects/spring-2021/Team04_DaraXKinesso
	url = https://github.com/lyubah/DataXKinesso
[submodule "student-projects/spring-2021/Team08_yelp_rec"]
	path = student-projects/spring-2021/Team08_yelp_rec
	url = https://github.com/Toilleee/Data_135_yelp_rec
[submodule "student-projects/spring-2021/Team13_E-Motion"]
	path = student-projects/spring-2021/Team13_E-Motion
	url = https://github.com/Savinay09/DataX
[submodule "student-projects/spring-2021/Team36_InNav"]
	path = student-projects/spring-2021/Team36_InNav
	url = https://github.com/Xiaobai-Ji/InNav
[submodule "student-projects/spring-2021/Team22_NBAPrediction"]
	path = student-projects/spring-2021/Team22_NBAPrediction
	url = https://github.com/ayushsax/NBAPrediction
[submodule "student-projects/spring-2021/Team30_Tinger"]
	path = student-projects/spring-2021/Team30_Tinger
	url = https://github.com/rbqpark/tinger
[submodule "student-projects/spring-2021/Team03_NavSafe"]
	path = student-projects/spring-2021/Team03_NavSafe
	url = https://github.com/jacesheu/navsafe
[submodule "student-projects/spring-2021/Team32_Emotion_Detection"]
	path = student-projects/spring-2021/Team32_Emotion_Detection
	url = https://github.com/tsrivatsav/Emotion-Detection
[submodule "student-projects/spring-2021/Team25_Facial_Engagement_Visualizer"]
	path = student-projects/spring-2021/Team25_Facial_Engagement_Visualizer
	url = https://github.com/abhinavpottabathula/facial-engagement-visualizer
[submodule "student-projects/spring-2021/Team26_Hondezvous"]
	path = student-projects/spring-2021/Team26_Hondezvous
	url = https://github.com/Isabelzav/Data_X_Hondezvous
[submodule "student-projects/spring-2021/Team24_eXamine"]
	path = student-projects/spring-2021/Team24_eXamine
	url = https://github.com/jyeung2/eXamine
[submodule "student-projects/spring-2021/Team06_RecycleAI"]
	path = student-projects/spring-2021/Team06_RecycleAI
	url = https://github.com/mclafferty/recycleai2
[submodule "student-projects/spring-2021/Team16_Rent-Prediction-for-YiRental"]
	path = student-projects/spring-2021/Team16_Rent-Prediction-for-YiRental
	url = https://github.com/SunweiGu/Rent-Prediction-for-YiRental
[submodule "student-projects/spring-2021/Team01_Uniswap"]
	path = student-projects/spring-2021/Team01_Uniswap
	url = https://github.com/zy-han/Data-X-Uniswap-Winning-Trading-Strategy-Analysis.git
[submodule "student-projects/spring-2021/Team23_NSOT"]
	path = student-projects/spring-2021/Team23_NSOT
	url = https://github.com/basketkoo98/Data_X_NSOT.git
[submodule "student-projects/spring-2021/Team29_FireCast"]
	path = student-projects/spring-2021/Team29_FireCast
	url = https://github.com/abe-niu/IEOR-135.git
[submodule "student-projects/spring-2021/Team33_CARoadAccidentsSeverityPrediction"]
	path = student-projects/spring-2021/Team33_CARoadAccidentsSeverityPrediction
	url = https://github.com/ZhiZuo2021/CaliforniaRoadAccidentsSeverityPrediction.git
[submodule "student-projects/spring-2021/Team33_CA_Road_Accidents_Severity_Prediction"]
	path = student-projects/spring-2021/Team33_CA_Road_Accidents_Severity_Prediction
	url = https://github.com/ZhiZuo2021/CaliforniaRoadAccidentsSeverityPrediction.git
[submodule "student-projects/spring-2021/Team20_To_Trade_Or_Not_To_Trade"]
	path = student-projects/spring-2021/Team20_To_Trade_Or_Not_To_Trade
	url = https://github.com/Jiayuez081/Ineng-135-Group-20.git
[submodule "student-projects/spring-2021/Team18_Bitcoin_Price_Prediction"]
	path = student-projects/spring-2021/Team18_Bitcoin_Price_Prediction
	url = https://github.com/Zhihan-Hui/DataX-Bitcoin-Price-Prediction.git
