[submodule "student-projects/spring-2021/Team05_aeolux"]
	path = student-projects/spring-2021/Team05_aeolux
	url = https://github.com/fcr3/aeolux
[submodule "student-projects/spring-2021/Team19_power-forward"]
	path = student-projects/spring-2021/Team19_power-forward
	url = https://github.com/JustinRWong/power-forward
[submodule "student-projects/spring-2021/Team09_RelAIability"]
	path = student-projects/spring-2021/Team09_RelAIability
	url = https://github.com/rachitpareek/data-x-proj-9
[submodule "student-projects/spring-2021/Team10_Data-X-Mental-Health-Dashboard"]
	path = student-projects/spring-2021/Team10_Data-X-Mental-Health-Dashboard
	url = https://github.com/aeswaran/Data-X-Mental-Health-Dashboard
[submodule "student-projects/spring-2021/Team12_COVID-19-Vaccine-Dashboard"]
	path = student-projects/spring-2021/Team12_COVID-19-Vaccine-Dashboard
	url = https://github.com/Marcus-M1999/COVID-19-Vaccine-Dashboard
[submodule "student-projects/spring-2021/Team15_mental_health"]
	path = student-projects/spring-2021/Team15_mental_health
	url = https://github.com/camjhirsh/mental_health
[submodule "student-projects/spring-2021/Team31_CheapFake-Detector"]
	path = student-projects/spring-2021/Team31_CheapFake-Detector
	url = https://github.com/Terrychau541/CheapFake-Detector
[submodule "student-projects/spring-2021/Team34_Superconductive"]
	path = student-projects/spring-2021/Team34_Superconductive
	url = https://github.com/9yiyi9/Superconductive-low-coded-ML
[submodule "student-projects/spring-2021/Team04_DaraXKinesso"]
	path = student-projects/spring-2021/Team04_DaraXKinesso
	url = https://github.com/lyubah/DataXKinesso
[submodule "student-projects/spring-2021/Team08_yelp_rec"]
	path = student-projects/spring-2021/Team08_yelp_rec
	url = https://github.com/Toilleee/Data_135_yelp_rec
[submodule "student-projects/spring-2021/Team13_E-Motion"]
	path = student-projects/spring-2021/Team13_E-Motion
	url = https://github.com/Savinay09/DataX
[submodule "student-projects/spring-2021/Team36_InNav"]
	path = student-projects/spring-2021/Team36_InNav
	url = https://github.com/Xiaobai-Ji/InNav
[submodule "student-projects/spring-2021/Team22_NBAPrediction"]
	path = student-projects/spring-2021/Team22_NBAPrediction
	url = https://github.com/ayushsax/NBAPrediction
[submodule "student-projects/spring-2021/Team30_Tinger"]
	path = student-projects/spring-2021/Team30_Tinger
	url = https://github.com/rbqpark/tinger
[submodule "student-projects/spring-2021/Team03_NavSafe"]
	path = student-projects/spring-2021/Team03_NavSafe
	url = https://github.com/jacesheu/navsafe
[submodule "student-projects/spring-2021/Team32_Emotion_Detection"]
	path = student-projects/spring-2021/Team32_Emotion_Detection
	url = https://github.com/tsrivatsav/Emotion-Detection
[submodule "student-projects/spring-2021/Team25_Facial_Engagement_Visualizer"]
	path = student-projects/spring-2021/Team25_Facial_Engagement_Visualizer
	url = https://github.com/abhinavpottabathula/facial-engagement-visualizer
[submodule "student-projects/spring-2021/Team26_Hondezvous"]
	path = student-projects/spring-2021/Team26_Hondezvous
	url = https://github.com/Isabelzav/Data_X_Hondezvous
[submodule "student-projects/spring-2021/Team24_eXamine"]
	path = student-projects/spring-2021/Team24_eXamine
	url = https://github.com/jyeung2/eXamine
